{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<section class="section">
    <h1>About Our Team</h1>
    <br>
    <div class="profile">
        <div id="profile-main">
            <img src="{{ url_for('static',filename='imgs/people/dr-shalini-prakash.png') }}" alt=""><br>
            <label for="name" id="profile-name">Dr. Shalini Prakash</label>
            <label for="" id="profile-post">CEO & Founder</label>
        </div>
        <div id="profile-desc">
            <p id="profile-desc">Dr. Shalini Prakash, a respected figure in motivational speaking and soft-skill training, draws upon
                her
                extensive 14+ years of teaching experience to connect with and mentor countless trainees, earning
                numerous accolades. Her career journey spans both the corporate sector and education, granting her
                unique insights into the challenges faced by students and professionals alike in their pursuit of
                career
                growth. As a National Trainer, she's conducted over 560 workshops in various educational
                institutions,
                corporate offices, and national forums.</p>
        </div>
    </div><br><br>
    <div class="profile">
        <div id="profile-main">
            <img src="{{ url_for('static',filename='imgs/people/mr-gladwyn.png') }}" alt=""><br>
            <label for="" id="profile-name">Gladwyn</label><br>
            <label for="name" id="profile-post">COO</label>
        </div>
        <div id="profile-desc">
            <p id="profile-desc">Gladwyn is a certified Leadership Skills trainer with extensive experience across diverse platforms. He's worked at various management levels, successfully managing diverse teams to achieve specific objectives. With a background in HR, Marketing, International Sales, and Training, he now specializes in Human Resources, Marketing Tactics, Business Outsourcing, and Productive Results training. With 12 years of corporate experience, he's become an expert in Team Handling, International Client Relations, and Process Training.</p>
            <p id="profile-desc">Gladwyn's training expertise extends to transforming college students into professionals with proper etiquette. He's particularly skilled in conducting Out-bound Training Programs for school and college students and leverages his experience as an Ex-NCC Under Officer to effectively train aspirants aiming to join the Indian Armed Forces.</p>
        </div>
    </div><br><br>
    <div class="profile">
        <div id="profile-main">
            <img src="{{ url_for('static',filename='imgs/people/dr-royan-a-r.png') }}" alt=""><br>
            <label for="name" id="profile-name">Dr. Royan A R</label>
            <label for="" id="profile-post">Academic Director</label>
        </div>
        <div id="profile-desc">
            <p id="profile-desc">Dr. Royan AR, an accomplished IT professional with advanced degrees in Engineering and Theological Scriptural Research Studies, excels in Communication Skills and Graphic Designing. He's a Business and Corporate Management Consultant who pioneered Digital Imaging Machinery in Goa in 2000. His English proficiency enhances communication among Indian, Russian, and African educators and students.</p><br>
            <p id="profile-desc">Dr. Royan mentors in colleges and universities, conducts diverse training programs, and is internationally recognized for his teaching standards. He oversees training activities in Goa and has held positions at Intelenet Global Services and Rexes Bpo India Ltd, offering jobs to over 300 youth. As the Academic Director at NYS, he aspires to build a just society, protect the vulnerable, and combat various forms of evil.</p>
        </div>
    </div><br><br>
    <div class="profile">
        <div id="profile-main">
            <img src="{{ url_for('static',filename='imgs/people/s-reghunathan.png') }}" alt=""><br>
            <label for="name" id="profile-name">S. Reghunathan</label>
            <label for="" id="profile-post">Corporate Advisor</label>
        </div>
        <div id="profile-desc">
            <p id="profile-desc">Mr. Reghunathan, a former CEO of GPR Group of Companies and a seasoned Performance Management Coach with 29 years of diverse experience spanning multiple industries including Power, Marine, Automobile, LPG, Oil Refineries, Petro Chemicals, Cement, Food, Hotels & Hospitality. He is a member of various industry associations like CII, IACC, FICCI, and FSAI. As a certified "Performance Management Coach," he believes that training and coaching can significantly enhance the performance of individuals, organizations, and the nation as a whole</p><br>
            <p id="profile-desc">Reghunathan, a Mechanical Engineer with three decades of experience, has worked across sectors such as Defense, Energy, Entertainment, FMCG, IT, Infrastructure, Manufacturing, Marine, and Water. His expertise includes Performance Analysis & Improvement, Fire & Safety, and Mechanical, Electrical & Instrumentation (MEI) utilities, enabling valuable insights for Training Needs and Performance Management to facilitate organizational growth. He is known for his dedication and commitment to improving human labor performance with a clear vision and mission.</p>
        </div>
    </div><br><br>
    <div class="profile">
        <div id="profile-main">
            <img src="{{ url_for('static',filename='imgs/people/cdr-vikram-rajan.png') }}" alt=""><br>
            <label for="" id="profile-name">DR Vikram Rajan (Retd)</label><br>
            <label for="name" id="profile-post">Mentoring & Assessment Expert</label>
        </div>
        <div id="profile-desc">
            <p id="profile-desc">Commander Vikram Rajan (Retd) boasts 28 years of leadership experience, with a distinguished career spanning the Indian Navy and the corporate world. As a Naval Officer in the submarine arm, he held key positions both in India and abroad. He's a trained Personality Assessor with over 20,000 candidate assessments and 700+ recommendations for Defence Academies.</p><br>
            <p id="profile-desc">An IIM Ahmedabad alumnus, he guides and mentors multi-functional teams in Project Management and International Business Development. He's also an Executive Coach pursuing ICF Certification and holds certifications from IATD. Beyond his professional pursuits, Commander Rajan is an avid traveler, trekker, and photographer.</p><br>
            <p id="profile-desc">Leveraging his extensive leadership experience in high-risk settings, he's committed to motivating and mentoring India's youth to overcome life's challenges and achieve success.</p>
        </div>
    </div><br><br>
</section>
<br>
<br>
{% endblock %}