<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='imgs/small-logo.png')}}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo">
                <img src="{{ url_for('static', filename='imgs/small-logo.png') }}" alt="">
            </div>
            <ul class="nav-items">
                <li class="nav-item">
                    <a href="/#home">Home</a>
                </li>  
                <li class="nav-item">
                    <a href="/about">About</a>
                </li>  
                <li class="nav-item">
                    <a href="/services">Services</a>
                </li>  
                <li class="nav-item">
                    <a href="/courses">Courses</a>
                </li>  
                <li class="nav-item">
                    <a href="/study-abroad">Study Abroad</a>
                </li>  
                <li class="nav-item">
                    <a href="/connect">Connect</a>
                </li>  
                <li class="nav-item">
                </li>  
            </ul>
        </div>
    </header>
    <div class="page-hero">
        <!-- <h1 id="page-hero-title" style="font-family: var(--font-family-01);color: var(--white-01);">{{ page_hero_title }}</h1>
        <video muted autoplay loop class="page-hero-video" >
            <source src="{{ page_hero_video }}">
        </video> -->
        <div class="row-flex">
            <img src="{{ url_for('static',filename='imgs/logo.png') }}" style="width: 40%;aspect-ratio: 1;">
            <img src="{{ url_for('static',filename='imgs/people/student.png') }}" style="object-fit: contain;" alt="">
        </div>
    </div>
    <br>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer style="background-color: var(--blue-02);width: 100vw;">
        <br>
        <div class="row-flex">
            <div class="medium" style="margin-left: 0.5rem;">
                
                
                <div class="row-flex" style="gap: 1.5rem;">
                    <i class="fa-solid fa-location-dot small-icon"></i>
                    <p style="text-align: center;">#25,1st floor 4th cross, Sampige road,Malleshwaram, Bengaluru</p>
                </div>
                <br>
                <div class="row-flex" style="gap: 1.5rem;">
                    <i class="fa-solid fa-phone small-icon"></i>
                    <p style="text-align: center;">+919148056645/ 9148056646</p>
                </div>
                <br>
                <div class="row-flex" style="gap: 1.5rem;">
                    <i class="fa-solid fa-envelope small-icon"></i>
                    <p style="text-align: center;">info@newyousolutions.com</p>
                </div>
                <br>
                <div class="row-flex" style="gap: 1.2rem;">
                <label for="social links">Also Find us on:</label><br>
                    <a href="https://www.instagram.com/new_you_solutions">
                        <i class="fa-brands fa-instagram small-icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/newyousolutions">
                        <i class="fa-brands fa-linkedin small-icon"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-facebook small-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <br>
    </footer>
    <a href="https://wa.me/9632213760?text=Welcome%20to%20New%20You%20Solutions!%20How%20can%20we%20assist%20you%3F" class="whatsapp icon" target="_welcome"><i class="fa-brands fa-whatsapp"></i></a>
    <button id="backToTopButton">
        <i class="fa-solid fa-caret-up icon"></i>
    </button>
    <script src="{{ url_for('static', filename='js/backToTop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sizeChanger.js') }}"></script>
</body>
</html>