{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
<section class="large section" id="connect" style="width: 100vw;background-color: var(--blue-01);">
    <br>
    <h1 style="color: var(--white-01);">Connect With Us</h1>
    <form action="" method="post" class="medium">
        <div class="large input-field">
            <label for="name">Name:</label><br>
            <input type="text" name="name" id="name-field" placeholder="Name" class="large">
        </div>
        <div class="large input-field">
            <label for="name">Email:</label>
            <input type="email" name="email" id="email-field" placeholder="Email" class="large">
        </div>
        <div class="large input-field">
            <label for="name">Query</label>
            <textarea name="Query" id="query-fiels" class="large" placeholder="Query"></textarea>
        </div>
        <button type="submit" class="button">Send Enquiry</button>
    </form>
    <br><br>
</section><br><br>
{% endblock %}