@media screen and (min-width: 768px) {
    .card {
        width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: calc(50% - 1rem);
        max-width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: calc(33.333% - 1rem);
        max-width: 30%;
    }
}
@media screen and (min-width: 1024px) {
    .row-flex {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .student-img {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logo-img {
        width: 40%;
        aspect-ratio: 1;
    }

    .student-img {
        display: block;
        object-fit: contain;
    }
}